{{#each surveys as |survey|}}
  <section class='surveyList' data-id="{{survey._id}}">
    <h6>Title:</h6>
    <h3>
      {{survey.question}}
    </h3>
    {{#equal survey.owner}}
   <button type=button class='destroySurvey'>Remove</button>
   <button type='submit' class='updateSurvey'>Update</button>
   {{/equal}}
  </section>
  {{/each}}
