@import '~bootstrap/scss/bootstrap';

.topnav {
  position: fixed;
  background-color: #67b9d6;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.topnav a {
  float: right;
  color: #0c5275;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fbf331;
  color: #173039;
}

h1 {
  padding-top: 50px;
  text-align: center;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

#index {
  margin: 40px 0 0 10px;
}

.sidenav h5 {
  margin: 1.5rem 0 .5rem 1.5rem;
}
